body {
  background: #f5f5f0;
  color: #000;
  font-family: Monaco;
}

.list-movies-title {
  padding: 10px 0;
  background: #009b50;
  color: #fff;
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  list-style: none;
}

.movie-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 140px;
}

.movie-title,
.movie-year {
  font-size: 0.8em;
  text-align: center;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}

.movie-poster {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  width: 128px;
  height: 193px;
  object-fit: cover;
}

.movie-rating {
  color: #777;
  font-size: 14px;
  margin-top: 4px;
}

.movie-flag {
  margin-left: 6px;
}